@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

* {
    font-family: 'Federo', sans-serif;
    color: azure;
    background-color: rgb(41, 37, 37);
}


nav li a {
    color: ghostwhite;
}

nav li a:hover {
    background-color: rgb(243, 181, 181);
  }